html {
  box-sizing: border-box;
  background-color: #fdf6e3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fdf6e3;
}

header footer {
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
}

nav ul {
  font-family: sans-serif;
  font-size: 1.5rem;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

#contents {
  color: #93a1a1;
}

#favs {
  color: #93a1a1;
}

#facts {
  color: #93a1a1;
}

#types {
  color: #93a1a1;
}

#facts > div {
  background-color: #b58900;
}

.dfn strong {
  color: #000;
}

.dfn strong:nth-child(2) {
  color: #fff;
}

div {
  background-color: #b58900;
}

ul li:first-child {
  background-color: #719e07;
}

a:not(.no-highlight) {
  background-color: #719e07;
}

[rel="external"] {
  background-color: #2694d8;
}

ol li:first-child {
  color: #719e47;
}

ol li:last-child {
  color: #2aa198;
}

.types li:nth-child(odd) {
  background-color: #657ba3;
}

.types li:nth-child(even) {
  background-color: #586e75;
}

.types li:nth-child(3n+3) {
  background-color: #d04b16;
}
